/* Untuk Tablets */
@media (max-width: 1000px) {
  .menu-icon {
  
  }

 .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
}

/* Untuk Smartphones */
@media (max-width: 670px) {
.lesson {
    width: 100%;
  }
  
  footer {
    text-align: center;
  }
  
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  /* Tambahkan CSS untuk header-right */
 .header-right {
   display: none;
 } 

 .company{
  width:0px;
  display: none;
}
  
  /* Tambahkan CSS untuk menu-icon */
  .menu-icon {
   display: block;
   color: black;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
isi {
    color: white;
    display: flex;
    padding: 30px 40px;
    justify-content: space-around;
}

.lokasi {
  width: 60%; 
}

.medsos {
  width: 40%;
}

.medsos a {
    text-decoration: none;

}
.btn-social{
   padding: 5px;   
   color: white;
   font-size: 26px;
}

.cpyright {
  display: none;
    }
    .lesson {
    width: 100%;
  }
  
}