
.footer {
    margin-top: 50px;
    width: 100%;
    background-color: rgb(72, 74, 77);
}

.isi {
    color: white;
    display: flex;
    padding: 30px 40px;
    justify-content: space-around;
}

.lokasi {
  width: 33%; 
}

.medsos {
  width: 33%;
}

.medsos a {
    text-decoration: none;

}
.btn-social{
   padding: 5px;   
   color: white;
   font-size: 26px;
}

.cpyright {
  width: 33%; 
    }